@import './base.css';

/* Global styles for html and body */
html, body {
  margin: 0; /* Ensure no default margins */
  padding: 0; /* Ensure no padding */
  width: 100%; /* Full width */
  overflow-x: hidden; /* Prevent horizontal scroll */
  color: var(--color-text);
  background: var(--color-background);
}

/* Main app styling */
#app {
  width: 100%; /* Full width of the viewport */
  padding: 0; /* Set initial padding to 0 for testing */
  box-sizing: border-box; /* Include padding in total width */
}

/* Link styles */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* Hover effect */
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Styles for larger screens */
@media (min-width: 1024px) {
  html, body {
    margin: 0; /* Ensure no default margins */
    padding: 0; /* Ensure no padding */
    width: 100%; /* Full width */
    overflow-x: hidden; /* Prevent horizontal scroll */
  }
  
  #app {
    width: 100%; /* Full width of the viewport */
    padding: 0;
    box-sizing: border-box; /* Include padding in total width */
  }
}
